---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
    margin-right: 1em;
}
.post-excerpt .read-more {
    font-size: 0.8em;
    text-decoration: underline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
